<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggle()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div>
    <a routerLink="/">LOGO</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-links">
      <li *ngIf="!(authService.isLoggedin | async)">
        <a routerLink="/signup">Sign Up</a>
      </li>
      <li *ngIf="!(authService.isLoggedin | async)">
        <a routerLink="/login">Login</a>
      </li>
      <li *ngIf="authService.isLoggedin | async">
        <a routerLink="/training">Training</a>
      </li>
      <li *ngIf="authService.isLoggedin | async">
        <a style="cursor: pointer;" (click)="onLogout()">Logout</a>
      </li>
    </ul>
  </div>
</mat-toolbar>
